---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

export const prerender = true;
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

// Pass the post object with rawContent method for reading time calculation
---

<BlogPost {...post.data} rawContent={() => post.body}>
  <div class="">
    <Content />
  </div>
</BlogPost>
