---
import BaseLayout from "../layouts/BaseLayout.astro";
import AirplaneWing from "../assets/airplane-wing.jpg";
import Header2 from "../components/Header2.astro";
---

<BaseLayout>
  <Header2 slot="header" image={AirplaneWing}>
    <Fragment slot="title"
      >Contact <span class="text-light-red">Us</span>
    </Fragment>
  </Header2>
  <section class="relative overflow-hidden">
    <div
      class="lg:flex relative hidden lg:h-screen bg-main-red lg:bg-main-red -z-50"
    >
      <div
        class="bg-main-red w-[calc(50%+65rem)] duration-700 ease-in-out h-full -left-24 absolute -skew-x-6 -z-10 slide pointer-events-auto"
      >
      </div>
      <div
        class="bg-main-red w-[calc(50%+65rem)] duration-700 ease-in-out h-full -left-24 absolute skew-x-6 -z-10 slide pointer-events-auto"
      >
      </div>
      <div
        class="bg-main-red lg:bg-white w-[calc(50%+3rem)] translate-x-[calc(100%-5rem)] h-full absolute -z-20 pointer-events-auto"
      >
      </div>
    </div>

    <div
      class="flex py-16 flex-col w-full lg:flex-row lg:max-h-screen max-w-7xl mx-auto h-full lg:items-center lg:gap-72 bg-zinc-200 lg:bg-transparent p-5 justify-center gap-10 lg:absolute lg:top-0 lg:left-1/2 lg:-translate-x-1/2"
      id="contact-us-form"
    >
      <h2
        class="lg:flex-1 text-4xl lg:text-5xl text-black lg:text-white uppercase fade-in opacity-0 duration-700"
      >
        Please let us know how to best serve you and your aircraft!
      </h2>
    </div>
  </section>
</BaseLayout>
