---
import BaseLayout from "../layouts/BaseLayout.astro";
import AirplaneWing from "../assets/airplane-wing.jpg";
import Header2 from "../components/Header2.astro";
const GHL_WEBHOOK_URL = import.meta.env.HANGAR_FORM_WEBHOOK_URL;
const RECAPTCHA_SITE_KEY = import.meta.env.RECAPTCHA_SITE_KEY;
---

<BaseLayout
  title="Hangar Rental Form | Pitcairn Aviation LLC"
  description="Complete the hangar rental form to secure your space at Pitcairn Aviation in Heritage Field Airport, Pottstown, PA. Our modern hangars provide secure storage for your aircraft with top-notch facilities. Reserve your hangar space today."
  keywords="hangar rental form, Pitcairn Aviation, Heritage Field Airport, hangar rentals Pottstown, aircraft storage, secure hangars, modern hangar facilities, reserve hangar space, aviation services"
>
  <Header2
    slot="header"
    image={AirplaneWing}
    alt="Airplane flying above Heritage Field Airport"
  >
    <Fragment slot="title"
      >Hangar Rental <span class="text-main-color">Requests</span>
    </Fragment>
  </Header2>
  <section class="relative overflow-hidden">
    <div
      class="lg:flex relative hidden lg:absolute lg:h-full lg:w-full bg-main-color lg:bg-main-color -z-50"
    >
      <div
        class="bg-main-color w-[calc(50%+65rem)] duration-700 ease-in-out h-full -left-24 slide absolute -skew-x-6 -z-10 pointer-events-auto"
      >
      </div>
      <div
        class="bg-main-color w-[calc(50%+65rem)] duration-700 ease-in-out h-full -left-24 slide absolute skew-x-6 -z-10 pointer-events-auto"
      >
      </div>
      <div
        class="bg-main-color lg:bg-white w-[calc(50%+3rem)] translate-x-[calc(100%-5rem)] h-full absolute -z-20 pointer-events-auto"
      >
      </div>
    </div>

    <div
      class="flex py-16 flex-col w-full lg:flex-row max-w-7xl mx-auto lg:items-center lg:gap-72 bg-zinc-200 lg:bg-transparent p-5 justify-center gap-10"
    >
      <h2
        class="lg:flex-1 text-4xl lg:text-5xl text-black lg:text-white uppercase fade-in opacity-0 duration-700"
      >
        Store your aircraft with us
      </h2>

      <div
        class="lg:flex-1 h-full text-white lg:text-black flex flex-col gap-3 fade-left opacity-0 translate-x-10 duration-700 delay-500"
      >
        <form class="h-full" id="form">
          <div class="flex flex-col gap-5 justify-between h-full">
            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label
                  for="first-name"
                  class="block px-2 text-sm font-medium leading-6 text-gray-900"
                  >First name</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                    required
                  />
                </div>
              </div>

              <div class="sm:col-span-3">
                <label
                  for="last-name"
                  class="block px-2 text-sm font-medium leading-6 text-gray-900"
                  >Last name</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                    required
                  />
                </div>
              </div>

              <div class="sm:col-span-4">
                <label
                  for="email"
                  class="block px-2 text-sm font-medium leading-6 text-gray-900"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                    required
                  />
                </div>
              </div>
              <label class="hidden">
                Don't fill this out if you're human:
                <input name="confirm-email" />
              </label>
              <div class="sm:col-span-2">
                <label
                  for="phone"
                  class="block px-2 text-sm font-medium leading-6 text-gray-900"
                  >Phone</label
                >
                <div class="mt-2">
                  <input
                    id="phone"
                    name="phone"
                    type="tel"
                    autocomplete="phone"
                    class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                    required
                  />
                </div>
              </div>
            </div>

            <hr class="border border-gray-900/10" />

            <div>
              <label
                for="aircraft-make-model"
                class="block px-2 text-sm font-medium leading-6 text-gray-900"
                >Aircraft Make and Model</label
              >
              <div class="mt-2">
                <input
                  id="aircraft-make-model"
                  name="aircraft-make-model"
                  type="text"
                  autocomplete="aircraft-make-model"
                  class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <fieldset>
              <legend
                class="block px-2 text-sm font-medium leading-6 text-gray-900"
                >Services Requested:</legend
              >
              <div class="mt-2 space-y-1">
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input
                      id="tiedowns"
                      value="Tiedowns"
                      name="services-requested"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-main-color focus:ring-main-color"
                    />
                  </div>
                  <div class="text-sm leading-6">
                    <label for="tiedowns" class="text-gray-900">Tiedowns</label>
                  </div>
                </div>
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input
                      id="hangar-space"
                      value="Hangar Space"
                      name="services-requested"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-main-color focus:ring-main-color"
                    />
                  </div>
                  <div class="text-sm leading-6">
                    <label for="hangar-space" class="text-gray-900"
                      >Hangar Space</label
                    >
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="grid grid-cols-1 gap-x-6 gap-y-1 sm:grid-cols-6">
              <div
                class="sm:col-span-4 block px-2 text-sm font-medium leading-6 text-gray-900"
              >
                Storage Dates Requested
              </div>
              <div class="sm:col-span-3">
                <label
                  for="start-date"
                  class="block px-2 text-sm leading-6 text-gray-900"
                  >Start date</label
                >
                <div class="mt-2">
                  <input
                    type="date"
                    name="start-date"
                    id="start-date"
                    class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="sm:col-span-3">
                <label
                  for="end-date"
                  class="block px-2 text-sm leading-6 text-gray-900"
                  >End date</label
                >
                <div class="mt-2">
                  <input
                    type="date"
                    name="end-date"
                    id="end-date"
                    class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main-color sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <hr class="border border-gray-900/10" />

            <fieldset>
              <div class="col-span-full">
                <label
                  for="more-details"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Please provide more details here:</label
                >
                <div class="mt-2">
                  <textarea
                    id="more-details"
                    name="more-details"
                    rows="3"
                    class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  ></textarea>
                </div>
              </div>
            </fieldset>

            <button type="submit" class="btn-primary self-end"> Submit </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</BaseLayout>

<script src="../scripts/animate-on-scroll.js"></script>

<script
  define:vars={{ GHL_WEBHOOK_URL, RECAPTCHA_SITE_KEY }}
  type="module"
  is:inline
>
  import initializeForm from "/src/scripts/submitForm.js";
  initializeForm(GHL_WEBHOOK_URL, RECAPTCHA_SITE_KEY, "/contact-confirmation");
</script>

<script
  src="https://www.google.com/recaptcha/api.js?render=6LdDcygqAAAAAFH3W2sfgyq32K6vGnxlnU6WYXMl"
  async
  is:inline></script>
