---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Passenger from "../assets/passenger-in-a-car.jpg";
import London from "../assets/london.jpg";
import AirplaneWing from "../assets/airplane-wing.jpg";
import FuelPrices from "../components/FuelPrices";
import ServiceCard from "../components/ServiceCard";
import Intro from "../components/Intro.astro";
import Header2 from "../components/Header2.astro";
import AddingFuel from "../assets/adding-fuel.png";
import PrivateJet from "../assets/private-jet-in-hangar.png";

const services = [
  {
    title: "Hassle-Free Refueling",
    subtitle: "Reliable Phillips 66 AvGas pumps",
    id: "hassle-free-refueling",
  },
  {
    title: "Safe Storage Solutions",
    subtitle: "Tiedowns and heated hangar rentals",
    id: "safe-storage-solutions",
  },
  {
    title: "Convenient Transportation",
    subtitle: "Crew car and rental car access",
    id: "convenient-transportation",
  },
  {
    title: "Modern Amenities",
    subtitle: "Conference rooms, lounges, and businesses",
    id: "modern-amenities",
  },
  {
    title: "Attentive Ground Support",
    subtitle: "GPU services and jump-starts",
    id: "attentive-ground-support",
  },
  {
    title: "Peace of Mind",
    subtitle: "Secured airfield access and parking",
    id: "peace-of-mind",
  },
];
---

<BaseLayout>
  <Header2 slot="header" />

  <Intro
    title="Your one-stop solution at pitcairn aviation"
    description={[
      `At Pitcairn Aviation LLC, we go above and beyond to provide a full
          suite of services that cater to the diverse needs of pilots and
          aircraft owners.`,
      `From self-serve fueling options to secure hangars and ground support,
          our commitment to exceptional service ensures a seamless and enjoyable
          experience every time you visit.`,
    ]}
  />

  <section class="bg-zinc-200 py-10">
    <div
      class="max-w-7xl mx-auto grid sm:grid-cols-2 lg:grid-cols-3 gap-5 px-5"
    >
      {
        services.map((service) => (
          <ServiceCard service={service} client:visible />
        ))
      }
    </div>
  </section>

  <section id="hassle-free-refueling" class="py-16">
    <div class="max-w-7xl mx-auto p-5 flex flex-col lg:flex-row gap-10">
      <div class="flex-1">
        <Image src={AddingFuel} class="" alt="A description of my image." />
      </div>
      <div class="flex-1 flex flex-col gap-3 pt-3">
        <h2 class="text-light-red text-sm font-bold uppercase">
          Hassle-Free Refueling
        </h2>
        <p class="text-2xl font-semibold">Reliable Phillips 66 AvGas pumps</p>
        <p class="text-lg">
          Our self-serve AvGas pumps make refueling simple and hassle-free.
          Enjoy the convenience of topping up your tanks 24/7 with our reliable
          Phillips 66 fuel. We offer both 100LL AvGas and Jet A options to meet
          your aircraft's needs. Our pumps accept all major credit cards for
          your convenience.
        </p>
      </div>
    </div>
  </section>

  <section
    id="safe-storage-solutions"
    class="h-[35rem] relative overflow-hidden"
  >
    <Image
      src={PrivateJet}
      class="absolute -top-[50%] w-full -z-50 object-cover min-h-[55rem]"
      alt="A description of my image."
    />
    <div
      class="absolute inset-0 bg-black/50 bg-gradient-to-t from-black -z-40 to-40%"
    >
    </div>
    <div
      class="max-w-7xl mx-auto flex flex-col justify-center h-full text-white gap-5 p-5"
    >
      <h2 class="text-light-red text-sm font-bold uppercase">
        Safe Storage Solutions
      </h2>
      <p class="text-2xl font-semibold max-w-md">
        Tiedowns and heated hangar rentals
      </p>
      <p class="max-w-md text-lg">
        Protect your aircraft with our secure tiedown spaces and heated hangar
        facilities. Choose from our newly renovated hangars that can accommodate
        aircraft up to [dimensions]. Long-term and overnight hangar rental
        options are available. Our professional line staff will ensure your
        aircraft is safely tucked away.
      </p>
    </div>
  </section>

  <section class="bg-main-black py-10 px-5">
    <div class="max-w-7xl mx-auto flex flex-col gap-2">
      <h2 class="text-white text-5xl font-bold">Fuel Prices</h2>
      <h3 class="text-white text-2xl">
        We prioritize keeping our fuel prices competitive for your convenience.
      </h3>
      <FuelPrices client:visible />
      <p class="text-gray-400 self-end">Updated as of 3/20/2024</p>
    </div>
  </section>
</BaseLayout>

<script src="../scripts/animate-on-scroll.js"></script>
