---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import HeroImage from "../assets/first-class.jpg";
import Navbar from "./Navbar";
---

<div class="">
  <Navbar client:load />

  <div
    class="relative isolate pt-14 overflow-hidden h-[48rem] text-white flex items-center"
  >
    <Image
      src={HeroImage}
      alt="A description of my image."
      class="absolute top-0 h-full object-cover -z-50"
    />
    <div
      class="absolute inset-0 bg-black/50 bg-gradient-to-t from-black -z-40 to-40%"
    >
    </div>
    <div class="max-w-7xl flex w-full mx-auto">
      <div class="max-w-2xl py-32 sm:py-48 lg:py-56 px-5">
        <h1 class="text-4xl font-medium tracking-tight sm:text-6xl uppercase">
          You've arrived
        </h1>
        <p class="mt-6 text-lg leading-8">
          Our commitment to the best means we surpass the highest industry
          standards for every step of your jouney, delivering premium
          expreiences you'll remember forever.
        </p>
      </div>
    </div>
  </div>
</div>
