---
import { Image } from "astro:assets";
import Navbar from "./Navbar";
const { image, alt } = Astro.props;
---

<header>
  <Navbar client:load />

  <div
    class="relative isolate pt-14 overflow-hidden h-[28rem] text-white flex items-center"
  >
    <Image
      src={image}
      alt={alt}
      class="absolute top-0 h-full object-cover -z-50"
    />
    <div
      class="absolute inset-0 bg-black/50 bg-gradient-to-t from-black -z-40 to-40%"
    >
    </div>
    <div class="max-w-7xl flex w-full mx-auto h-full items-end py-14">
      <div class="max-w-5xl px-5">
        <h1 class="text-5xl font-black sm:text-6xl uppercase animate-fade-in">
          <slot name="title" />
        </h1>
      </div>
    </div>
  </div>
</header>
