---
import { Image } from "astro:assets";
import HeroImage from "../assets/pitcairn-aviation-fbo-front-office.jpg";
import Navbar from "./Navbar";
---

<header class="font-inter">
  <Navbar client:load />

  <div
    class="relative isolate pt-14 overflow-hidden h-[101vh] text-white flex items-center"
  >
    <Image
      src={HeroImage}
      alt="Pitcairn Aviation FBO Front Office"
      class="absolute top-0 h-full object-cover -z-50"
      quality={10}
    />
    <div
      class="absolute inset-0 bg-gradient-to-b lg:bg-gradient-to-r from-black/60 to-black/30 -z-40"
    >
    </div>
    <div class="max-w-7xl flex w-full mx-auto">
      <div class="max-w-2xl py-32 sm:py-48 lg:py-56 px-5 animate-fade-in">
        <h1
          class="text-3xl lg:text-6xl font-black tracking-tight leading-none sm:text-6xl uppercase"
        >
          You've <span class="text-main-color">arrived</span>
        </h1>
        <p class="mt-1 text-xl leading-8">
          Exceptional aviation services await at Heritage Field Airport (KPTW)
        </p>
        <a
          href="/contact-us#contact-us-form"
          class="inline-block mt-9 uppercase py-3 px-6 border text-center bg-white/30 font-bold rounded-md hover:bg-white/80 duration-300 hover:text-black"
          >Visit Us Today</a
        >
      </div>
    </div>
  </div>
</header>
