---
const { title, description } = Astro.props;
---

<section
  class="flex overflow-hidden lg:h-96 relative bg-main-red lg:bg-main-red -z-50"
>
  <div
    class="bg-main-red w-[calc(50%+65rem)] duration-700 ease-in-out h-full -left-24 absolute -skew-x-12 -z-10 slide"
  >
  </div>
  <div
    class="bg-main-red w-[calc(50%+65rem)] duration-700 ease-in-out h-full -left-24 absolute skew-x-12 -z-10 slide"
  >
  </div>
  <div
    class="bg-main-red lg:bg-white w-[calc(50%+3rem)] translate-x-[calc(100%-5rem)] h-full absolute -z-20"
  >
  </div>

  <div
    class="flex py-16 flex-col lg:flex-row max-w-7xl mx-auto h-full lg:items-center lg:gap-72 p-5 justify-center gap-10"
  >
    <h2
      class="lg:flex-1 text-4xl lg:text-5xl text-white uppercase fade-in opacity-0 duration-700"
    >
      {title}
    </h2>
    <div
      class="lg:flex-1 text-white lg:text-black flex flex-col gap-3 fade-left opacity-0 translate-x-10 duration-700 delay-500"
    >
      {description.map((paragraph: string) => <p>{paragraph}</p>)}
    </div>
  </div>
</section>
